html {background-image: url(imagenes/fondologo.jpg);
    background-size: 150%;
    background-repeat: repeat;
    
}

body {  max-width: 80%;
    
    width: 80%;
    height: 60%;
    
    margin: 50px auto; 
    min-height: calc(80vh - 100px);
    background-image: url(imagenes/fondo.gif);
    background-position-y: 10%;
    background-position-x: 50%;
    background-size: 240%;
    background-repeat: repeat;   
   border: 20px solid gray;
   border-radius: 5%;
    
   
    
}
header {
    padding: 3%;
    background-image: url(imagenes/banner.png);
    background-size: 200%; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;  
    justify-content: space-between;  
    font-family: \"Arial\";
}



#output {
      margin-left:20px;
      font-size: 70%;
      color: white;
    }
    
    h1 {  
        text-shadow: 1px 1px 0 white;
        font-size: 140%;
         
     
        color: transparent;}
        h1:hover .h1-left,
        h1:hover .h1-right {  color: #fff;
        }
        h1 .h1-left {
            color: white;  
            transition: 0.25s ease-in-out color;
        }
        
        h1 .h1-right {  
            margin-left: -6px;
            color:white;
            transition: 0.25s ease-in-out color;
        }
        
        h1 a {
              color: white;  
              text-decoration: none;
            }
        .btn-scan {  
            margin: 12px 0;
            padding: 0 24px;
            cursor: pointer;
            background-image: url(imagenes/boton.jpg);  
            border: none;
            color: white;
            font-weight: bold;
            border-radius: 4px;
            outline: none;
            transition: 0.25s ease-in-out color;
        }
        .btn-scan:hover {  
            color: black;
        }
        
     